BOT_TOKEN=18322375315:AAFW4I_sU7pzFHwu70GcLDjlqBwnqJv6Zgw
DATABASE_URL=postgresql://prorab_user:prorab_pass@postgres:5432/prorab_db
REDIS_URL=redis://redis:6379/0
WORK_DAYS_PER_MONTH=26
ADVANCE_LIMIT_PCT=80
TIMEZONE=Asia/Tashkent
